@import "tailwindcss";
@import "tw-animate-css";

.custom-swiper-pagination .swiper-pagination-bullet {
  background: #a2de49;
  width: 9px;
  height: 9px;
  margin: 0 6px;
  opacity: 1;
}
.custom-swiper-pagination .swiper-pagination-bullet-active {
  background: #001102;
}

.carousel-swiper-pagination .swiper-pagination-bullet {
  background: #a2de49;
  width: 9px;
  height: 9px;
  margin: 0 6px;
  opacity: 1;
}
.carousel-swiper-pagination .swiper-pagination-bullet-active {
  background: #001102;
}

.swiper-slide-active .testimonial-card {
  transform: scale(1.05);
  translate: 0 -15px;
}
